<nav class="container flex flex-wrap items-center justify-between mx-auto p-4 bg-gray-800 text-white">
    <div> 
        <a  class="nav-link" routerLink="/">Book Shop</a>
    </div>
    <div>
        <a class="nav-link"  routerLink="/cart">Your Cart</a>
        <ng-container *ngIf="!isAuthenticated()">
            <a class="nav-link"  routerLink="/login">Login</a>
            <a class="nav-link"  routerLink="/resgiter">Resgiter</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <a class="nav-link" (click)="handelLogOut()">Log out</a>
        </ng-container>
    </div>
</nav>
<router-outlet></router-outlet>